.section {
    position: relative;
    width:100%;
    float:left;
    padding-top:2%;
    text-align: center; 	 
}
.settingsSection{
    text-align: left; 
    padding-left:2%;
}
.footer {
    background-color:white;
    color:black; 
    text-align:center;
    padding:0.1%;	 	 
}
.errors {
    background-color:white;
    color:red; 
    text-align:center;
    padding:0.1%;	 	 
}
.navigationMenuButton{
    cursor: pointer;
}
.searchPage, .filePage{
  display:none;
}
.pageLink{
  cursor: pointer;
}
.pageLinksSecion{
  text-align:center;
}
.resultSection{
   text-align:left;
   margin-left:2%;
   margin-right:2%;	 	 
}
.searchTitle, .fileTitle{
   text-decoration: underline;
   font-weight: bold;
}
.searchHitScore{
  color:#FF0066;
}
.searchHitHighlight{
  text-align: justify;
  text-justify: inter-word;
}
.pageNumber{
  border: 0;
  padding: 0;
  background-color: #E6E6E6;
  text-align: center;
  font-weight: bold;
}

.section {
  padding-bottom: 5%;
}
.mainSection{
  padding-top: 0;
}
.suggestion{
  cursor: pointer;
  background-color:B8F5DA;
}
.selectedSuggestion{
  background-color:#33CC33
}
.navbar{
 margin-bottom:0;
}
.sidebar-nav .navbar .navbar-collapse {
  padding: 0;
  margin: 0;
  max-height: none;
}
.sidebar-nav .navbar ul {
  float: none;
  display: block;
}
.sidebar-nav .navbar li {
  float: none;
  display: block;
}
.mainDisplayArea{
  padding-top: 1%;
}
.row{
 margin-right: 0;
 margin-let: 0;
}
.settingsLabel{
  display: inline-block;
  width: 140px;
  text-align: right;
}